.navbar-brand img {
    width: 60px;
  }

  .navbar-brand {
    margin-right: 0px;
    padding: 0px;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar .navbar-nav .nav-link {
    padding: .5em 1em;
    color: rgb(133, 55, 115);
  }

  .nav-item img {
    width: 30px;
    margin-right: 5px;
  }
  .dropdown-item:hover {
    background-color: #FFACB7;
    color: #fff;
  }
  
  body{
    background-color: #fbf2f3;
  }

  .small, small {
    color: #d15162;
  }

  element.style {
    --bs-scroll-height: 200px;
}