<!doctype html>
<html lang="zh-tw">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href=".././css/nav.css">
    <link rel="stylesheet" href=".././css/link.css">
    <title>關於我ଘ(੭ˊᵕˋ)੭* ੈ✩‧₊˚</title>
</head>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

<style>
    li {
        color: #e47386;
    }
</style>

<body>

    <!-- 這個是Navbar導覽列  -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f0d6f9;">
        <div class="container">
            <a class="navbar-brand d-lg-none" href="#">
                <img src=".././img/icon/logo4.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll mx-auto"
                    style="--bs-scroll-height: 200px;">
                    <a class="navbar-brand d-none d-lg-block" href="#">
                        <img src=".././img/icon/logo4.png">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">首頁</a>
                    </li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src=".././img/icon/icon.jpg">
                            關於我
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="background.html">自我介紹</a></li>
                            <li><a class="dropdown-item" href="oc.html">繪型</a></li>
                            <li><a class="dropdown-item" href="into.html">坑ㄉ介紹</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src=".././img/icon/icon2.jpg">
                            作品
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href=".././portfolio/illustration.html">繪畫</a></li>
                            <li><a class="dropdown-item" href=".././portfolio/movie.html">影片</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src=".././img/icon/icon3.jpg">
                            相簿
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href=".././album/jx3.html">劍三</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar結束  -->
    </br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 order-2 order-md-1">
                <div class="row">
                    <div class="col-12 text-center"> <a href="https://www.facebook.com/profile.php?id=100013290544503"
                            target="_blank"><img src=".././img/background/SNS2.png" class="img-fluid rounded" alt="..."
                                style="height: 250px;width: 250px;"></a></div>
                    <div class="col-12 text-center"> <a href="https://www.instagram.com/mameei_owo/"
                            target="_blank"><img src=".././img/background/SNS3.png" class="img-fluid rounded" alt="..."
                                style="height: 250px;width: 250px;"></a></div>
                </div>
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2">
                <div class="row">
                    <div class="card">
                        <img src=".././img/background/me.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="list-unstyled text-center">
                                <p class="card-text  border-top" style="padding-top: 5%;">
                                    <li>‣綽號:利贏/璃/ㄅㄌ/堡包</li>
                                    <li>‣喜歡設計、玩電腦遊戲、粉紅色跟棉花糖</li>
                                    <li>‣最喜歡的兔子叫做mongmong軟萌兔</li>
                                    <li>‣希望一天有48個小時或是讓我睡100個小時</li>
                                    </br>
                                    <li>
                                        <h6 style="font-size: 40%;text-align: center;">✧非公開帳號一律只放認識的人進去</h6>
                                    </li>
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 order-3 order-md-3">
                <div class="row">
                    <div class="col-12 text-center"> <a href="https://twitter.com/mutano12345" target="_blank"><img
                                src=".././img/background/SNS1.png" class="img-fluid rounded" alt="..."
                                style="height: 250px;width: 250px;"></a></div>
                    <div class="col-12 text-center"> <a href="https://www.instagram.com/karta123125/"
                            target="_blank"><img src=".././img/background/SNS4.png" class="img-fluid rounded" alt="..."
                                style="height: 250px;width: 250px;"></a></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <img src=".././img/icon/chicken.png" class="rounded mx-auto d-block" alt="...">
                <p class="text-center"><em><small>꙳⋆𓈒𓂂𓏸◌2023.01.01𓐍𓏸𓂂⋆♥꙳</small></em></p>
            </div>
            <div class="col-4"></div>
        </div>

    </footer>

</body>

</html>