<!doctype html>
<html lang="zh-tw">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href=".././css/nav.css">
  <link rel="stylesheet" href=".././css/link.css">
  <title>繪型ଘ(੭ˊᵕˋ)੭* ੈ✩‧₊˚</title>
</head>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<body>

  <!-- 這個是Navbar導覽列  -->
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f0d6f9;">
    <div class="container">
      <a class="navbar-brand d-lg-none" href="#">
        <img src=".././img/icon/logo4.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll mx-auto" style="--bs-scroll-height: 200px;">
          <a class="navbar-brand d-none d-lg-block" href="#">
            <img src=".././img/icon/logo4.png">
          </a>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../index.html">首頁</a>
          </li>
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src=".././img/icon/icon.jpg">
              關於我
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="background.html">自我介紹</a></li>
              <li><a class="dropdown-item" href="oc.html">繪型</a></li>
              <li><a class="dropdown-item" href="into.html">坑ㄉ介紹</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src=".././img/icon/icon2.jpg">
              作品
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href=".././portfolio/illustration.html">繪畫</a></li>
              <li><a class="dropdown-item" href=".././portfolio/movie.html">影片</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src=".././img/icon/icon3.jpg">
              相簿
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href=".././album/jx3.html">劍三</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar結束  -->
  </br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 order-3 order-md-1">
        <div class="row">
          <div class="col-12 text-center">
            <figure class="figure">
              <img src="../img/oc/rima3.jpg" class="figure-img img-fluid"
                style="border: dashed rgb(240, 178, 243);padding: 10px;" alt="...">
              <figcaption class="figure-caption">illustrator:<a href="https://www.plurk.com/FFji3_9981"
                  target="_blank">@FFji3_9981</a></figcaption>
            </figure>
          </div>
          <div class="col-12 text-center">
            <figure class="figure">
              <img src="../img/oc/rima2.jpg" class="figure-img img-fluid rounded"
                style="border: dashed rgb(240, 178, 243);padding: 10px;" alt="...">
              <figcaption class="figure-caption">illustrator:<a href="https://www.plurk.com/daidai779931"
                  target="_blank">@daidai779931</a></figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 order-1 order-md-2">
        <div class="row">
          <div class="col-12 text-center">
            <figure class="figure">
              <img src=".././img/oc/rima.jpg" class="figure-img img-fluid rounded"
                style="border: dashed rgb(240, 178, 243);padding: 10px;" alt="...">
              <figcaption class="figure-caption">illustrator:<a
                  href="https://www.facebook.com/profile.php?id=100003358345382" target="_blank">時雨</a></figcaption>
            </figure>
            <div class="col-12 text-center" style="margin-bottom:10px;">
              <img src=".././img/oc/rima6.jpg" class="img-fluid" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 order-2 order-md-3">
        <div class="row">
          <div class="col-12 text-center">
            <figure class="figure">
              <img src="../img/oc/rima5.png" class="figure-img img-fluid rounded" alt="...">
            </figure>
          </div>
          <div class="col-12 text-center">
            <figure class="figure">
              <img src="../img/oc/rima4.jpg" class="figure-img img-fluid rounded"
                style="border: dashed rgb(240, 178, 243);padding: 10px;" alt="...">
              <figcaption class="figure-caption">illustrator:<a
                  href="https://www.facebook.com/profile.php?id=100000673489768" target="_blank">陳姵蓉</a></figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <img src=".././img/icon/chicken.png" class="rounded mx-auto d-block" alt="...">
        <p class="text-center"><em><small>꙳⋆𓈒𓂂𓏸◌2023.01.01𓐍𓏸𓂂⋆♥꙳</small></em></p>
      </div>
      <div class="col-4"></div>
    </div>

  </footer>

</body>

</html>